* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.x {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/back.jpg);
    background-size: cover;
    background-position: center;
}

.container .card {
    background: rgba(0, 0, 0, 0.6);
}

.regis-class {
    margin-top: 50px;
}

.log-backg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/log-back1.jpg);
    background-size: cover;
    background-position: center;
}

.section-login {
    margin-top: 70px;
}

.section-admin {
    margin-top: 30px;
}

.section-cards {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-image {
    padding: 4px;
}

.card-image img {
    filter: brightness(92%);
}

.ax {
    height: 270px;
    width: 800px;
}

.order img {
    height: 270px;
}

.try {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/trt4.jpg);
    background-position: center;
    background-size: cover;
}

.box {
    transition: 1s;
}

.box:hover {
    transform: scale(1.1);
    z-index: 4;
    box-shadow: 2px 2px 2px #000;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

.btn-extended {
    display: block;
    width: 80%;
    margin: auto;
}

.section-update {
    margin-top: 50px;
    margin-bottom: 95px;
}

.prod-body{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/prdd3.jpg);
    background-position: center;
    background-size: cover;
}

.section-allProducts{
	margin-top: 70px;
	margin-bottom: 350px;
}

.section-order {
    margin-top: 30px;
}

.ord {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/prdd3.jpg);
    background-position: center;
    background-size: cover;
}

.ft {
    margin-top: auto;
}

.btn-ext {
    display: block;
    width: 100%;
    margin: auto;
}

